<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" data-th-href="@{/webjars/font-awesome/4.7.0/css/font-awesome.css}">
    <link rel="stylesheet" data-th-href="@{/webjars/bulma/0.6.0/css/bulma.css}">
</head>
<body>
<div class="columns">
    <div class="column is-half is-offset-one-quarter">
        <section class="section">
            <h2 class="title">[[${status}]] - [[${error}]]</h2>
            <div class="box">
                <article class="media">
                    <div class="media-left">
                        <span class="is-size-1"><i class="fa fa-twitter"></i></span>
                    </div>
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <strong>Unicorn</strong>
                                <small>@unicorn</small>
                                <small>2 seconds ago</small>
                                <br>
                                OOps! Something wrong.
                            </p>
                        </div>
                        <nav class="level is-mobile">
                            <div class="level-left">
                                <a class="level-item">
                                    <span class="icon is-small"><i class="fa fa-reply"></i></span>
                                </a>
                                <a class="level-item">
                                    <span class="icon is-small"><i class="fa fa-retweet"></i></span>
                                </a>
                                <a class="level-item">
                                    <span class="icon is-small"><i class="fa fa-heart"></i></span>
                                </a>
                            </div>
                        </nav>
                    </div>
                </article>
            </div>
        </section>
    </div>
</div>
</body>
</html>